<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/ticket']">Создать заявку</a>
  </li>
</ul>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Заявки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">База знаний</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Настройки</a>
  </li>
  
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
      <a href="#"><th scope="row">1</th></a>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  <tr>
      <a href="#"><th scope="row">1</th></a>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      
    </tr>
    <tr>
      <a href="#"><th scope="row">1</th></a>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      
    </tr>
  </tbody>
</table>